In [1]:
import pandas as pd
import numpy as np

In [3]:
ATP_df = pd.read_csv("https://raw.githubusercontent.com/DSEI21000-S21/project-tennis-ml/main/atp_matches/atp_matches-2000-2021.csv")
ATP_df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2000-301,Auckland,Hard,32,A,20000110,1,103163,1,NaN,...,55,39,29,17,4,7,11,1612,63,595
1,2000-301,Auckland,Hard,32,A,20000110,2,102607,NaN,Q,...,32,25,18,12,3,6,211,157,49,723
2,2000-301,Auckland,Hard,32,A,20000110,3,103252,NaN,NaN,...,33,20,7,8,7,11,48,726,59,649
3,2000-301,Auckland,Hard,32,A,20000110,4,103507,7,NaN,...,43,29,14,10,6,8,45,768,61,616
4,2000-301,Auckland,Hard,32,A,20000110,5,102103,NaN,Q,...,46,34,18,12,5,9,167,219,34,873

In [4]:
ATP_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64056 entries, 0 to 64055
Data columns (total 49 columns):
tourney_id            64056 non-null object
tourney_name          64056 non-null object
surface               63858 non-null object
draw_size             64056 non-null object
tourney_level         64056 non-null object
tourney_date          64056 non-null object
match_num             64056 non-null object
winner_id             64056 non-null object
winner_seed           26583 non-null object
winner_entry          7749 non-null object
winner_name           64056 non-null object
winner_hand           64038 non-null object
winner_ht             57292 non-null object
winner_ioc            64056 non-null object
winner_age            64044 non-null object
loser_id              64056 non-null object
loser_seed            14537 non-null object
loser_entry           12700 non-null object
loser_name            64056 non-null object
loser_hand            64006 non-null object
loser_ht              54431 non-null object
loser_ioc             64056 non-null object
loser_age             64040 non-null object
score                 64056 non-null object
best_of               64056 non-null object
round                 64056 non-null object
minutes               56742 non-null object
w_ace                 58058 non-null object
w_df                  58058 non-null object
w_svpt                58058 non-null object
w_1stIn               58058 non-null object
w_1stWon              58058 non-null object
w_2ndWon              58058 non-null object
w_SvGms               58058 non-null object
w_bpSaved             58058 non-null object
w_bpFaced             58058 non-null object
l_ace                 58058 non-null object
l_df                  58058 non-null object
l_svpt                58058 non-null object
l_1stIn               58058 non-null object
l_1stWon              58058 non-null object
l_2ndWon              58058 non-null object
l_SvGms               58058 non-null object
l_bpSaved             58058 non-null object
l_bpFaced             58058 non-null object
winner_rank           63539 non-null object
winner_rank_points    63539 non-null object
loser_rank            62718 non-null object
loser_rank_points     62718 non-null object
dtypes: object(49)
memory usage: 23.9+ MB

We have numerical and categorical attributes.

In [6]:
#Percentage of missing values
(ATP_df.isna().sum() / len(ATP_df))*100

tourney_id             0.000000
tourney_name           0.000000
surface                0.309105
draw_size              0.000000
tourney_level          0.000000
tourney_date           0.000000
match_num              0.000000
winner_id              0.000000
winner_seed           58.500375
winner_entry          87.902773
winner_name            0.000000
winner_hand            0.028100
winner_ht             10.559510
winner_ioc             0.000000
winner_age             0.018734
loser_id               0.000000
loser_seed            77.305795
loser_entry           80.173598
loser_name             0.000000
loser_hand             0.078057
loser_ht              15.025915
loser_ioc              0.000000
loser_age              0.024978
score                  0.000000
best_of                0.000000
round                  0.000000
minutes               11.418134
w_ace                  9.363682
w_df                   9.363682
w_svpt                 9.363682
w_1stIn                9.363682
w_1stWon               9.363682
w_2ndWon               9.363682
w_SvGms                9.363682
w_bpSaved              9.363682
w_bpFaced              9.363682
l_ace                  9.363682
l_df                   9.363682
l_svpt                 9.363682
l_1stIn                9.363682
l_1stWon               9.363682
l_2ndWon               9.363682
l_SvGms                9.363682
l_bpSaved              9.363682
l_bpFaced              9.363682
winner_rank            0.807106
winner_rank_points     0.807106
loser_rank             2.088797
loser_rank_points      2.088797
dtype: float64

**Drop columns with more than 50% of missing values.**

In [7]:
df_clean = ATP_df.drop(['winner_seed', 'winner_entry', 'loser_seed', 'loser_entry'], axis=1)

In [9]:
#Percentage of missing values
(df_clean.isna().sum() / len(df_clean))*100

tourney_id             0.000000
tourney_name           0.000000
surface                0.309105
draw_size              0.000000
tourney_level          0.000000
tourney_date           0.000000
match_num              0.000000
winner_id              0.000000
winner_name            0.000000
winner_hand            0.028100
winner_ht             10.559510
winner_ioc             0.000000
winner_age             0.018734
loser_id               0.000000
loser_name             0.000000
loser_hand             0.078057
loser_ht              15.025915
loser_ioc              0.000000
loser_age              0.024978
score                  0.000000
best_of                0.000000
round                  0.000000
minutes               11.418134
w_ace                  9.363682
w_df                   9.363682
w_svpt                 9.363682
w_1stIn                9.363682
w_1stWon               9.363682
w_2ndWon               9.363682
w_SvGms                9.363682
w_bpSaved              9.363682
w_bpFaced              9.363682
l_ace                  9.363682
l_df                   9.363682
l_svpt                 9.363682
l_1stIn                9.363682
l_1stWon               9.363682
l_2ndWon               9.363682
l_SvGms                9.363682
l_bpSaved              9.363682
l_bpFaced              9.363682
winner_rank            0.807106
winner_rank_points     0.807106
loser_rank             2.088797
loser_rank_points      2.088797
dtype: float64

**Drop all the row that with missing values.**

In [10]:
df_clean1 = df_clean.dropna()
df_clean1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47522 entries, 0 to 64052
Data columns (total 45 columns):
tourney_id            47522 non-null object
tourney_name          47522 non-null object
surface               47522 non-null object
draw_size             47522 non-null object
tourney_level         47522 non-null object
tourney_date          47522 non-null object
match_num             47522 non-null object
winner_id             47522 non-null object
winner_name           47522 non-null object
winner_hand           47522 non-null object
winner_ht             47522 non-null object
winner_ioc            47522 non-null object
winner_age            47522 non-null object
loser_id              47522 non-null object
loser_name            47522 non-null object
loser_hand            47522 non-null object
loser_ht              47522 non-null object
loser_ioc             47522 non-null object
loser_age             47522 non-null object
score                 47522 non-null object
best_of               47522 non-null object
round                 47522 non-null object
minutes               47522 non-null object
w_ace                 47522 non-null object
w_df                  47522 non-null object
w_svpt                47522 non-null object
w_1stIn               47522 non-null object
w_1stWon              47522 non-null object
w_2ndWon              47522 non-null object
w_SvGms               47522 non-null object
w_bpSaved             47522 non-null object
w_bpFaced             47522 non-null object
l_ace                 47522 non-null object
l_df                  47522 non-null object
l_svpt                47522 non-null object
l_1stIn               47522 non-null object
l_1stWon              47522 non-null object
l_2ndWon              47522 non-null object
l_SvGms               47522 non-null object
l_bpSaved             47522 non-null object
l_bpFaced             47522 non-null object
winner_rank           47522 non-null object
winner_rank_points    47522 non-null object
loser_rank            47522 non-null object
loser_rank_points     47522 non-null object
dtypes: object(45)
memory usage: 16.7+ MB

In [11]:
#Percentage of missing values
(df_clean1.isna().sum() / len(df_clean1))*100

tourney_id            0.0
tourney_name          0.0
surface               0.0
draw_size             0.0
tourney_level         0.0
tourney_date          0.0
match_num             0.0
winner_id             0.0
winner_name           0.0
winner_hand           0.0
winner_ht             0.0
winner_ioc            0.0
winner_age            0.0
loser_id              0.0
loser_name            0.0
loser_hand            0.0
loser_ht              0.0
loser_ioc             0.0
loser_age             0.0
score                 0.0
best_of               0.0
round                 0.0
minutes               0.0
w_ace                 0.0
w_df                  0.0
w_svpt                0.0
w_1stIn               0.0
w_1stWon              0.0
w_2ndWon              0.0
w_SvGms               0.0
w_bpSaved             0.0
w_bpFaced             0.0
l_ace                 0.0
l_df                  0.0
l_svpt                0.0
l_1stIn               0.0
l_1stWon              0.0
l_2ndWon              0.0
l_SvGms               0.0
l_bpSaved             0.0
l_bpFaced             0.0
winner_rank           0.0
winner_rank_points    0.0
loser_rank            0.0
loser_rank_points     0.0
dtype: float64

**Convert tourney_date column to datetime**

In [38]:
df_clean1["tournament_year"]= df_clean1["tourney_date"].str.split("01", n = 1, expand = True)

df_clean1.head()

C:\Users\JAH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_name,winner_hand,...,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,tournament_year
0,2000-301,Auckland,Hard,32,A,20000110,1,103163,Tommy Haas,R,...,39,29,17,4,7,11,1612,63,595,2000
1,2000-301,Auckland,Hard,32,A,20000110,2,102607,Juan Balcells,R,...,25,18,12,3,6,211,157,49,723,2000
2,2000-301,Auckland,Hard,32,A,20000110,3,103252,Alberto Martin,R,...,20,7,8,7,11,48,726,59,649,2000
3,2000-301,Auckland,Hard,32,A,20000110,4,103507,Juan Carlos Ferrero,R,...,29,14,10,6,8,45,768,61,616,2000
4,2000-301,Auckland,Hard,32,A,20000110,5,102103,Michael Sell,R,...,34,18,12,5,9,167,219,34,873,2000