In [81]:
import pandas as pd
import numpy as np

In [82]:
path = "https://raw.githubusercontent.com/DSEI21000-S21/project-tennis-ml/main/wta_matches/wta_matches-2000-2021.csv"
def readData(path):
    df = pd.read_csv(path)
    return df

In [83]:
wta_data = readData(path)
wta_data.head(1)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2000-D001,Fed Cup G1 PO: JPN vs CHN,Hard,4,D,20000430,1,201419,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,190,121,125,205

In [84]:
def appendTarget(dataframe, winner_col, loser_col):
    dataframe[winner_col] = 1
    dataframe[loser_col] = 0
    return dataframe

In [85]:
wta_data = appendTarget(wta_data, 'winner_name', 'loser_name')
wta_data.head(1)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2000-D001,Fed Cup G1 PO: JPN vs CHN,Hard,4,D,20000430,1,201419,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,190,121,125,205

In [86]:
def encodeColumn(dataframe, column_list = []):
    df = pd.get_dummies(dataframe, columns= column_list)
    return df

In [87]:
wta_data = encodeColumn(wta_data, column_list =['surface', 'tourney_level', 'winner_hand', 'winner_ioc', 'loser_ioc','round'])
wta_data.head(1)

,tourney_id,tourney_name,draw_size,tourney_date,match_num,winner_id,winner_seed,winner_entry,winner_name,winner_ht,...,round_BR,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF,round_round
0,2000-D001,Fed Cup G1 PO: JPN vs CHN,4,20000430,1,201419,NaN,NaN,1,172,...,0,0,0,0,0,0,0,1,0,0

In [91]:
def convertDate(dataframe, date):
    dataframe[date] = pd.to_datetime(dataframe[date], format = '%Y%m%d', errors='coerce')
    return dataframe

In [97]:
wata_data = convertDate(wta_data, 'tourney_date')
wta_data.head(1)

,tourney_id,tourney_name,draw_size,tourney_date,match_num,winner_id,winner_seed,winner_entry,winner_name,winner_ht,...,round_BR,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF,round_round
0,2000-D001,Fed Cup G1 PO: JPN vs CHN,4,2000-04-30,1,201419,NaN,NaN,1,172,...,0,0,0,0,0,0,0,1,0,0

In [98]:
wta_data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59740 entries, 0 to 59739
Data columns (total 326 columns):
 #   Column                       Dtype
---  ------                       -----
 0   tourney_id                   object
 1   tourney_name                 object
 2   draw_size                    object
 3   tourney_date                 datetime64[ns]
 4   match_num                    object
 5   winner_id                    object
 6   winner_seed                  object
 7   winner_entry                 object
 8   winner_name                  int64
 9   winner_ht                    object
 10  winner_age                   object
 11  loser_id                     object
 12  loser_seed                   object
 13  loser_entry                  object
 14  loser_name                   int64
 15  loser_hand                   object
 16  loser_ht                     object
 17  loser_age                    object
 18  score                        object
 19  best_of                      object
 20  minutes                      object
 21  w_ace                        object
 22  w_df                         object
 23  w_svpt                       object
 24  w_1stIn                      object
 25  w_1stWon                     object
 26  w_2ndWon                     object
 27  w_SvGms                      object
 28  w_bpSaved                    object
 29  w_bpFaced                    object
 30  l_ace                        object
 31  l_df                         object
 32  l_svpt                       object
 33  l_1stIn                      object
 34  l_1stWon                     object
 35  l_2ndWon                     object
 36  l_SvGms                      object
 37  l_bpSaved                    object
 38  l_bpFaced                    object
 39  winner_rank                  object
 40  winner_rank_points           object
 41  loser_rank                   object
 42  loser_rank_points            object
 43  surface_Carpet               uint8
 44  surface_Clay                 uint8
 45  surface_Grass                uint8
 46  surface_Hard                 uint8
 47  surface_surface              uint8
 48  tourney_level_C              uint8
 49  tourney_level_CC             uint8
 50  tourney_level_D              uint8
 51  tourney_level_F              uint8
 52  tourney_level_G              uint8
 53  tourney_level_I              uint8
 54  tourney_level_O              uint8
 55  tourney_level_P              uint8
 56  tourney_level_PM             uint8
 57  tourney_level_T1             uint8
 58  tourney_level_T2             uint8
 59  tourney_level_T3             uint8
 60  tourney_level_T4             uint8
 61  tourney_level_T5             uint8
 62  tourney_level_W              uint8
 63  tourney_level_tourney_level  uint8
 64  winner_hand_L                uint8
 65  winner_hand_R                uint8
 66  winner_hand_U                uint8
 67  winner_hand_winner_hand      uint8
 68  winner_ioc_ALG               uint8
 69  winner_ioc_ANG               uint8
 70  winner_ioc_ANT               uint8
 71  winner_ioc_ARG               uint8
 72  winner_ioc_ARM               uint8
 73  winner_ioc_AUS               uint8
 74  winner_ioc_AUT               uint8
 75  winner_ioc_AZE               uint8
 76  winner_ioc_BAH               uint8
 77  winner_ioc_BAR               uint8
 78  winner_ioc_BEL               uint8
 79  winner_ioc_BER               uint8
 80  winner_ioc_BIH               uint8
 81  winner_ioc_BLR               uint8
 82  winner_ioc_BOL               uint8
 83  winner_ioc_BOT               uint8
 84  winner_ioc_BRA               uint8
 85  winner_ioc_BUL               uint8
 86  winner_ioc_CAN               uint8
 87  winner_ioc_CHI               uint8
 88  winner_ioc_CHN               uint8
 89  winner_ioc_COL               uint8
 90  winner_ioc_CRC               uint8
 91  winner_ioc_CRO               uint8
 92  winner_ioc_CUB               uint8
 93  winner_ioc_CYP               uint8
 94  winner_ioc_CZE               uint8
 95  winner_ioc_DEN               uint8
 96  winner_ioc_DOM               uint8
 97  winner_ioc_ECU               uint8
 98  winner_ioc_EGY               uint8
 99  winner_ioc_ESA               uint8
 100 winner_ioc_ESP               uint8
 101 winner_ioc_EST               uint8
 102 winner_ioc_FIJ               uint8
 103 winner_ioc_FIN               uint8
 104 winner_ioc_FRA               uint8
 105 winner_ioc_GBR               uint8
 106 winner_ioc_GEO               uint8
 107 winner_ioc_GER               uint8
 108 winner_ioc_GRE               uint8
 109 winner_ioc_GUA               uint8
 110 winner_ioc_GUM               uint8
 111 winner_ioc_HKG               uint8
 112 winner_ioc_HON               uint8
 113 winner_ioc_HUN               uint8
 114 winner_ioc_INA               uint8
 115 winner_ioc_IND               uint8
 116 winner_ioc_IRI               uint8
 117 winner_ioc_IRL               uint8
 118 winner_ioc_IRQ               uint8
 119 winner_ioc_ISL               uint8
 120 winner_ioc_ISR               uint8
 121 winner_ioc_ITA               uint8
 122 winner_ioc_JAM               uint8
 123 winner_ioc_JOR               uint8
 124 winner_ioc_JPN               uint8
 125 winner_ioc_KAZ               uint8
 126 winner_ioc_KEN               uint8
 127 winner_ioc_KGZ               uint8
 128 winner_ioc_KOR               uint8
 129 winner_ioc_LAT               uint8
 130 winner_ioc_LES               uint8
 131 winner_ioc_LIE               uint8
 132 winner_ioc_LTU               uint8
 133 winner_ioc_LUX               uint8
 134 winner_ioc_MAD               uint8
 135 winner_ioc_MAR               uint8
 136 winner_ioc_MAS               uint8
 137 winner_ioc_MDA               uint8
 138 winner_ioc_MEX               uint8
 139 winner_ioc_MGL               uint8
 140 winner_ioc_MKD               uint8
 141 winner_ioc_MLT               uint8
 142 winner_ioc_MNE               uint8
 143 winner_ioc_MRI               uint8
 144 winner_ioc_NAM               uint8
 145 winner_ioc_NED               uint8
 146 winner_ioc_NOR               uint8
 147 winner_ioc_NZL               uint8
 148 winner_ioc_OMA               uint8
 149 winner_ioc_PAK               uint8
 150 winner_ioc_PAN               uint8
 151 winner_ioc_PAR               uint8
 152 winner_ioc_PER               uint8
 153 winner_ioc_PHI               uint8
 154 winner_ioc_PNG               uint8
 155 winner_ioc_POC               uint8
 156 winner_ioc_POL               uint8
 157 winner_ioc_POR               uint8
 158 winner_ioc_PUR               uint8
 159 winner_ioc_ROU               uint8
 160 winner_ioc_RSA               uint8
 161 winner_ioc_RUS               uint8
 162 winner_ioc_SAM               uint8
 163 winner_ioc_SCG               uint8
 164 winner_ioc_SGP               uint8
 165 winner_ioc_SIN               uint8
 166 winner_ioc_SLO               uint8
 167 winner_ioc_SRB               uint8
 168 winner_ioc_SRI               uint8
 169 winner_ioc_SUI               uint8
 170 winner_ioc_SVK               uint8
 171 winner_ioc_SWE               uint8
 172 winner_ioc_SYR               uint8
 173 winner_ioc_THA               uint8
 174 winner_ioc_TJK               uint8
 175 winner_ioc_TKM               uint8
 176 winner_ioc_TPE               uint8
 177 winner_ioc_TRI               uint8
 178 winner_ioc_TUN               uint8
 179 winner_ioc_TUR               uint8
 180 winner_ioc_UKR               uint8
 181 winner_ioc_URU               uint8
 182 winner_ioc_USA               uint8
 183 winner_ioc_UZB               uint8
 184 winner_ioc_VEN               uint8
 185 winner_ioc_VIE               uint8
 186 winner_ioc_YUG               uint8
 187 winner_ioc_ZIM               uint8
 188 winner_ioc_winner_ioc        uint8
 189 loser_ioc_ALG                uint8
 190 loser_ioc_ANG                uint8
 191 loser_ioc_ANT                uint8
 192 loser_ioc_ARG                uint8
 193 loser_ioc_ARM                uint8
 194 loser_ioc_AUS                uint8
 195 loser_ioc_AUT                uint8
 196 loser_ioc_AZE                uint8
 197 loser_ioc_BAH                uint8
 198 loser_ioc_BAR                uint8
 199 loser_ioc_BEL                uint8
 200 loser_ioc_BER                uint8
 201 loser_ioc_BIH                uint8
 202 loser_ioc_BLR                uint8
 203 loser_ioc_BOL                uint8
 204 loser_ioc_BOT                uint8
 205 loser_ioc_BRA                uint8
 206 loser_ioc_BRN                uint8
 207 loser_ioc_BUL                uint8
 208 loser_ioc_CAN                uint8
 209 loser_ioc_CHI                uint8
 210 loser_ioc_CHN                uint8
 211 loser_ioc_COL                uint8
 212 loser_ioc_CRC                uint8
 213 loser_ioc_CRO                uint8
 214 loser_ioc_CUB                uint8
 215 loser_ioc_CYP                uint8
 216 loser_ioc_CZE                uint8
 217 loser_ioc_DEN                uint8
 218 loser_ioc_DOM                uint8
 219 loser_ioc_ECA                uint8
 220 loser_ioc_ECU                uint8
 221 loser_ioc_EGY                uint8
 222 loser_ioc_ESA                uint8
 223 loser_ioc_ESP                uint8
 224 loser_ioc_EST                uint8
 225 loser_ioc_FIJ                uint8
 226 loser_ioc_FIN                uint8
 227 loser_ioc_FRA                uint8
 228 loser_ioc_GBR                uint8
 229 loser_ioc_GEO                uint8
 230 loser_ioc_GER                uint8
 231 loser_ioc_GRE                uint8
 232 loser_ioc_GUA                uint8
 233 loser_ioc_GUM                uint8
 234 loser_ioc_HAI                uint8
 235 loser_ioc_HKG                uint8
 236 loser_ioc_HON                uint8
 237 loser_ioc_HUN                uint8
 238 loser_ioc_INA                uint8
 239 loser_ioc_IND                uint8
 240 loser_ioc_IRI                uint8
 241 loser_ioc_IRL                uint8
 242 loser_ioc_IRQ                uint8
 243 loser_ioc_ISL                uint8
 244 loser_ioc_ISR                uint8
 245 loser_ioc_ITA                uint8
 246 loser_ioc_JAM                uint8
 247 loser_ioc_JOR                uint8
 248 loser_ioc_JPN                uint8
 249 loser_ioc_KAZ                uint8
 250 loser_ioc_KEN                uint8
 251 loser_ioc_KGZ                uint8
 252 loser_ioc_KOR                uint8
 253 loser_ioc_LAT                uint8
 254 loser_ioc_LBN                uint8
 255 loser_ioc_LES                uint8
 256 loser_ioc_LIB                uint8
 257 loser_ioc_LIE                uint8
 258 loser_ioc_LTU                uint8
 259 loser_ioc_LUX                uint8
 260 loser_ioc_MAD                uint8
 261 loser_ioc_MAR                uint8
 262 loser_ioc_MAS                uint8
 263 loser_ioc_MDA                uint8
 264 loser_ioc_MEX                uint8
 265 loser_ioc_MGL                uint8
 266 loser_ioc_MKD                uint8
 267 loser_ioc_MLT                uint8
 268 loser_ioc_MNE                uint8
 269 loser_ioc_MRI                uint8
 270 loser_ioc_NAM                uint8
 271 loser_ioc_NED                uint8
 272 loser_ioc_NOR                uint8
 273 loser_ioc_NZL                uint8
 274 loser_ioc_OMA                uint8
 275 loser_ioc_PAK                uint8
 276 loser_ioc_PAN                uint8
 277 loser_ioc_PAR                uint8
 278 loser_ioc_PER                uint8
 279 loser_ioc_PHI                uint8
 280 loser_ioc_PNG                uint8
 281 loser_ioc_POC                uint8
 282 loser_ioc_POL                uint8
 283 loser_ioc_POR                uint8
 284 loser_ioc_PUR                uint8
 285 loser_ioc_ROU                uint8
 286 loser_ioc_RSA                uint8
 287 loser_ioc_RUS                uint8
 288 loser_ioc_SAM                uint8
 289 loser_ioc_SCG                uint8
 290 loser_ioc_SGP                uint8
 291 loser_ioc_SIN                uint8
 292 loser_ioc_SLO                uint8
 293 loser_ioc_SRB                uint8
 294 loser_ioc_SRI                uint8
 295 loser_ioc_SUI                uint8
 296 loser_ioc_SVK                uint8
 297 loser_ioc_SWE                uint8
 298 loser_ioc_SYR                uint8
 299 loser_ioc_THA                uint8
 300 loser_ioc_TJK                uint8
 301 loser_ioc_TKM                uint8
 302 loser_ioc_TPE                uint8
 303 loser_ioc_TRI                uint8
 304 loser_ioc_TTO                uint8
 305 loser_ioc_TUN                uint8
 306 loser_ioc_TUR                uint8
 307 loser_ioc_UKR                uint8
 308 loser_ioc_URU                uint8
 309 loser_ioc_USA                uint8
 310 loser_ioc_UZB                uint8
 311 loser_ioc_VEN                uint8
 312 loser_ioc_VIE                uint8
 313 loser_ioc_YUG                uint8
 314 loser_ioc_ZIM                uint8
 315 loser_ioc_loser_ioc          uint8
 316 round_BR                     uint8
 317 round_F                      uint8
 318 round_QF                     uint8
 319 round_R128                   uint8
 320 round_R16                    uint8
 321 round_R32                    uint8
 322 round_R64                    uint8
 323 round_RR                     uint8
 324 round_SF                     uint8
 325 round_round                  uint8
dtypes: datetime64[ns](1), int64(2), object(40), uint8(283)
memory usage: 35.7+ MB

In [100]:
def addDateFeatures(dataframe, date):
    dataframe['year'] = dataframe[date].year
    dataframe['month'] = dataframe[date].month
    dataframe['day'] = dataframe[date].day
    return dataframe

In [101]:
wta_data = addDateFeatures(wta_data, 'tourney_date')

AttributeError: 'Series' object has no attribute 'year'

In [105]:
wta_data.tourney_date.

0        2000.0
1        2000.0
2        2000.0
3        2000.0
4        2000.0
          ...
59735    2021.0
59736    2021.0
59737    2021.0
59738    2021.0
59739    2021.0
Name: tourney_date, Length: 59740, dtype: float64