In [1]:
import pandas as pd
import numpy as np

In [6]:
path = "https://raw.githubusercontent.com/DSEI21000-S21/project-tennis-ml/main/wta_matches/wta_matches-2000-2021.csv"
def readData(path):
    df = pd.read_csv(path)
    return df

In [40]:
wta_data = readData(path)
wta_data.head(1)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2000-D001,Fed Cup G1 PO: JPN vs CHN,Hard,4,D,20000430,1,201419,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,190,121,125,205

In [35]:
def appendTarget(dataframe, winner_col, loser_col):
    dataframe[winner_col] = 1
    dataframe[loser_col] = 0
    return dataframe

In [41]:
appendTarget(wta_data, 'winner_name', 'loser_name').head(1)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2000-D001,Fed Cup G1 PO: JPN vs CHN,Hard,4,D,20000430,1,201419,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,190,121,125,205

In [43]:
def encodeColumn(dataframe, column_list = []):
    df = pd.get_dummies(dataframe, columns= column_list)
    return df

In [46]:
encodeColumn(wta_data, column_list =['surface', 'tourney_level', 'winner_hand', 'winner_ioc', 'loser_ioc','round'])

,tourney_id,tourney_name,draw_size,tourney_date,match_num,winner_id,winner_seed,winner_entry,winner_name,winner_ht,...,round_BR,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF,round_round
0,2000-D001,Fed Cup G1 PO: JPN vs CHN,4,20000430,1,201419,NaN,NaN,1,172,...,0,0,0,0,0,0,0,1,0,0
1,2000-D001,Fed Cup G1 PO: JPN vs CHN,4,20000430,2,200085,NaN,NaN,1,163,...,0,0,0,0,0,0,0,1,0,0
2,2000-D002,Fed Cup WG SF: USA vs BEL,4,20001122,1,200652,NaN,NaN,1,NaN,...,0,0,0,0,0,0,0,1,0,0
3,2000-D002,Fed Cup WG SF: USA vs BEL,4,20001122,2,200128,NaN,NaN,1,189,...,0,0,0,0,0,0,0,1,0,0
4,2000-D003,Fed Cup WG SF: CZE vs ESP,4,20001121,1,200017,NaN,NaN,1,NaN,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59735,2021-W-FC-2021-POS-M-NED-CHN-01,BJK Cup Playoffs: NED vs CHN,4,20210417,4,201551,NaN,NaN,1,180,...,0,0,0,0,0,0,0,1,0,0
59736,2021-W-FC-2021-POS-M-ROU-ITA-01,BJK Cup Playoffs: ROU vs ITA,4,20210417,1,220714,NaN,NaN,1,NaN,...,0,0,0,0,0,0,0,1,0,0
59737,2021-W-FC-2021-POS-M-ROU-ITA-01,BJK Cup Playoffs: ROU vs ITA,4,20210417,2,203354,NaN,NaN,1,NaN,...,0,0,0,0,0,0,0,1,0,0
59738,2021-W-FC-2021-POS-M-ROU-ITA-01,BJK Cup Playoffs: ROU vs ITA,4,20210417,3,211817,NaN,NaN,1,NaN,...,0,0,0,0,0,0,0,1,0,0
59739,2021-W-FC-2021-POS-M-ROU-ITA-01,BJK Cup Playoffs: ROU vs ITA,4,20210417,4,220714,NaN,NaN,1,NaN,...,0,0,0,0,0,0,0,1,0,0