In [28]:
import pandas as pd
import glob
import boto3
import s3fs

In [29]:
path = "https://ford-data-public.s3-us-west-2.amazonaws.com/atp_matches/{}".format(path)

In [30]:
atp_files = ['atp_matches_2000.csv',
'atp_matches_2001.csv',
'atp_matches_2002.csv',
'atp_matches_2003.csv',
'atp_matches_2004.csv',
'atp_matches_2005.csv',
'atp_matches_2006.csv',
'atp_matches_2007.csv',
'atp_matches_2008.csv',
'atp_matches_2009.csv',
'atp_matches_2010.csv',
'atp_matches_2011.csv',
'atp_matches_2012.csv',
'atp_matches_2013.csv',
'atp_matches_2014.csv',
'atp_matches_2015.csv',
'atp_matches_2016.csv',
'atp_matches_2017.csv']

In [31]:
atp_files

['atp_matches_2000.csv',
 'atp_matches_2001.csv',
 'atp_matches_2002.csv',
 'atp_matches_2003.csv',
 'atp_matches_2004.csv',
 'atp_matches_2005.csv',
 'atp_matches_2006.csv',
 'atp_matches_2007.csv',
 'atp_matches_2008.csv',
 'atp_matches_2009.csv',
 'atp_matches_2010.csv',
 'atp_matches_2011.csv',
 'atp_matches_2012.csv',
 'atp_matches_2013.csv',
 'atp_matches_2014.csv',
 'atp_matches_2015.csv',
 'atp_matches_2016.csv',
 'atp_matches_2017.csv']

In [34]:
atp_list = []
for i in atp_files:
    path = "https://ford-data-public.s3-us-west-2.amazonaws.com/atp_matches/{}".format(i)
    pd.read_csv(path)

In [35]:
pd.DataFrame(atp_list)

Empty DataFrame
Columns: []
Index: []

In [36]:
pd.concat(atp_list)

ValueError: No objects to concatenate

In [37]:
wta_matches = [
'wta_matches_2001.csv',
'wta_matches_2002.csv',
'wta_matches_2003.csv',
'wta_matches_2004.csv',
'wta_matches_2005.csv',
'wta_matches_2006.csv',
'wta_matches_2007.csv',
'wta_matches_2008.csv',
'wta_matches_2009.csv',
'wta_matches_2010.csv',
'wta_matches_2011.csv',
'wta_matches_2012.csv',
'wta_matches_2013.csv',
'wta_matches_2014.csv',
'wta_matches_2015.csv',
'wta_matches_2016.csv']

In [38]:
path = "https://ford-data-public.s3-us-west-2.amazonaws.com/wta_matches/wta_matches_2000.csv"

In [39]:
df = pd.read_csv(path)
df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,loser_name,loser_hand,loser_ht,loser_ioc,loser_age,loser_rank,loser_rank_points,score,best_of,round
0,2000-W-SL-AUS-01A-2000,Australian Open,Hard,128,G,20000117,1,200001,1.0,NaN,...,Mirjana Lucic,R,NaN,CRO,17.859001,49.0,640.0,6-1 6-2,3,R128
1,2000-W-SL-AUS-01A-2000,Australian Open,Hard,128,G,20000117,2,200003,NaN,NaN,...,Kerry Anne Guse,R,NaN,AUS,27.118412,133.0,199.0,6-4 6-2,3,R128
2,2000-W-SL-AUS-01A-2000,Australian Open,Hard,128,G,20000117,3,200006,NaN,NaN,...,Jolene Watanabe Giltz,R,NaN,USA,31.378508,118.0,243.0,6-0 6-1,3,R128
3,2000-W-SL-AUS-01A-2000,Australian Open,Hard,128,G,20000117,4,200008,NaN,NaN,...,Silvija Talaja,R,NaN,CRO,22.006845,23.0,1112.0,6-1 5-7 7-5,3,R128
4,2000-W-SL-AUS-01A-2000,Australian Open,Hard,128,G,20000117,5,200009,NaN,NaN,...,Rita Grande,R,NaN,ITA,24.821355,60.0,516.0,6-3 6-4,3,R128

In [40]:
df.count()

tourney_id            2893
tourney_name          2893
surface               2893
draw_size             2893
tourney_level         2893
tourney_date          2893
match_num             2893
winner_id             2893
winner_seed           1134
winner_entry           317
winner_name           2893
winner_hand           2819
winner_ht             1027
winner_ioc            2893
winner_age            2893
winner_rank           2709
winner_rank_points    2709
loser_id              2893
loser_seed             555
loser_entry            554
loser_name            2893
loser_hand            2724
loser_ht               643
loser_ioc             2893
loser_age             2893
loser_rank            2602
loser_rank_points     2602
score                 2893
best_of               2893
round                 2893
dtype: int64

In [41]:
for i in wta_matches:
    path = "https://ford-data-public.s3-us-west-2.amazonaws.com/wta_matches/{}".format(i)
    j = pd.read_csv(path, header=None, encoding='ISO-8859-1')
    df.append(j)

In [42]:
df.count()

tourney_id            2893
tourney_name          2893
surface               2893
draw_size             2893
tourney_level         2893
tourney_date          2893
match_num             2893
winner_id             2893
winner_seed           1134
winner_entry           317
winner_name           2893
winner_hand           2819
winner_ht             1027
winner_ioc            2893
winner_age            2893
winner_rank           2709
winner_rank_points    2709
loser_id              2893
loser_seed             555
loser_entry            554
loser_name            2893
loser_hand            2724
loser_ht               643
loser_ioc             2893
loser_age             2893
loser_rank            2602
loser_rank_points     2602
score                 2893
best_of               2893
round                 2893
dtype: int64

In [43]:
!pwd

C:\Users\JAH

In [44]:
path1 = "/Users/marvinford/atp/"

In [45]:
pd.read_excel(path1)

FileNotFoundError: [Errno 2] No such file or directory: '/Users/marvinford/atp/'

In [46]:
path3 = "https://tennis-data-wta-atp.s3-us-west-2.amazonaws.com/atp/"

In [47]:
pd.read_excel(path3)

HTTPError: HTTP Error 403: Forbidden

In [82]:
path = "s3://tennis-data-wta-atp/atp/2000.xls"
df0 = pd.read_excel(path)
df0.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,L2,W3,L3,W4,L4,W5,L5,Wsets,Lsets,Comment
0,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Dosedel S.,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2,0,Completed
1,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Enqvist T.,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,2,0,Completed
2,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Escude N.,...,5.0,6.0,3.0,NaN,NaN,NaN,NaN,2,1,Completed
3,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Federer R.,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,2,0,Completed
4,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Fromberg R.,...,7.0,6.0,4.0,NaN,NaN,NaN,NaN,2,1,Completed

In [80]:
df1 = pd.read_excel("s3://tennis-data-wta-atp/atp/2001.xls")
df2 = pd.read_excel("s3://tennis-data-wta-atp/atp/2002.xls")
df3 = pd.read_excel("s3://tennis-data-wta-atp/atp/2003.xls")
df4 = pd.read_excel("s3://tennis-data-wta-atp/atp/2004.xls")
df5 = pd.read_excel("s3://tennis-data-wta-atp/atp/2005.xls")
df6 = pd.read_excel("s3://tennis-data-wta-atp/atp/2006.xls")
df7 = pd.read_excel("s3://tennis-data-wta-atp/atp/2007.xls")
df8 = pd.read_excel("s3://tennis-data-wta-atp/atp/2008.xls")
df9 = pd.read_excel("s3://tennis-data-wta-atp/atp/2009.xls")
df10 = pd.read_excel("s3://tennis-data-wta-atp/atp/2010.xls")
df11 = pd.read_excel("s3://tennis-data-wta-atp/atp/2011.xls")
df12 = pd.read_excel("s3://tennis-data-wta-atp/atp/2012.xls")
#df13 = pd.read_excel("s3://tennis-data-wta-atp/atp/2013.xls")
#df14 = pd.read_excel("s3://tennis-data-wta-atp/atp/2014.xls")
#df15 = pd.read_excel("s3://tennis-data-wta-atp/atp/2015.xls")
#df16 = pd.read_excel("s3://tennis-data-wta-atp/atp/2016.xls")
#df17 = pd.read_excel("s3://tennis-data-wta-atp/atp/2017.xls")
#df18 = pd.read_excel("s3://tennis-data-wta-atp/atp/2018.xls")
#df19 = pd.read_excel("s3://tennis-data-wta-atp/atp/2019.xls")
#df20 = pd.read_excel("s3://tennis-data-wta-atp/atp/2020.xls")
#df21 = pd.read_excel("s3://tennis-data-wta-atp/atp/2021.xls")

In [86]:
#combine all the data into a dataframe 
result =df0.append(df1)
result =result.append(df2) 
result =result.append(df3) 
result =result.append(df4) 
result =result.append(df5) 
result =result.append(df6) 
result =result.append(df7) 
result =result.append(df8) 
result =result.append(df9) 
result =result.append(df10) 
result =result.append(df11) 
result =result.append(df12)

result.head()

,ATP,AvgL,AvgW,B&WL,B&WW,B365L,B365W,Best of,CBL,CBW,...,UBW,W1,W2,W3,W4,W5,WPts,WRank,Winner,Wsets
0,1,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,...,NaN,6.0,6,NaN,NaN,NaN,NaN,63,Dosedel S.,2.0
1,1,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,...,NaN,6.0,6,NaN,NaN,NaN,NaN,5,Enqvist T.,2.0
2,1,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,...,NaN,6.0,7,6,NaN,NaN,NaN,40,Escude N.,2.0
3,1,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,...,NaN,6.0,6,NaN,NaN,NaN,NaN,65,Federer R.,2.0
4,1,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,...,NaN,7.0,5,6,NaN,NaN,NaN,81,Fromberg R.,2.0

In [85]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36541 entries, 0 to 2606
Data columns (total 54 columns):
ATP           36541 non-null int64
AvgL          6999 non-null float64
AvgW          6999 non-null float64
B&WL          1097 non-null float64
B&WW          1097 non-null float64
B365L         27950 non-null float64
B365W         27931 non-null float64
Best of       36541 non-null int64
CBL           17506 non-null float64
CBW           17506 non-null float64
Comment       36541 non-null object
Court         36541 non-null object
Date          36541 non-null datetime64[ns]
EXL           23743 non-null float64
EXW           23743 non-null float64
GBL           5055 non-null float64
GBW           5055 non-null float64
IWL           13358 non-null float64
IWW           13358 non-null float64
L1            36378 non-null float64
L2            36021 non-null object
L3            16625 non-null object
L4            3277 non-null float64
L5            1250 non-null float64
LBL           13202 non-null float64
LBW           13196 non-null float64
LPts          20305 non-null float64
LRank         36490 non-null object
Location      36541 non-null object
Loser         36541 non-null object
Lsets         36419 non-null float64
MaxL          6999 non-null float64
MaxW          6999 non-null float64
PSL           21660 non-null float64
PSW           21660 non-null float64
Round         36541 non-null object
SBL           5424 non-null float64
SBW           5424 non-null float64
SJL           10483 non-null float64
SJW           10476 non-null float64
Series        36541 non-null object
Surface       36541 non-null object
Tournament    36541 non-null object
UBL           10671 non-null float64
UBW           10671 non-null float64
W1            36378 non-null float64
W2            36020 non-null object
W3            16626 non-null object
W4            3277 non-null float64
W5            1250 non-null float64
WPts          20342 non-null float64
WRank         36531 non-null object
Winner        36541 non-null object
Wsets         36418 non-null float64
dtypes: datetime64[ns](1), float64(36), int64(2), object(15)
memory usage: 15.3+ MB