In [1]:
import pandas as pd
import numpy as np

In [3]:
df0 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_wta/master/wta_matches_1941.csv")
df0.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,1941-1001,Adelaide,Grass,NaN,W,19401226,1,236995,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1941-1001,Adelaide,Grass,NaN,W,19401226,2,236997,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1941-1001,Adelaide,Grass,NaN,W,19401226,3,225879,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1941-1001,Adelaide,Grass,NaN,W,19401226,4,236995,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1941-1001,Adelaide,Grass,NaN,W,19401226,5,225879,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df1 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_wta/master/wta_matches_1942.csv")
df1.tail()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
850,1942-1118,Seattle,NaN,NaN,W,19420720,3,227958,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
851,1942-1118,Seattle,NaN,NaN,W,19420720,4,235850,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
852,1942-1118,Seattle,NaN,NaN,W,19420720,5,200858,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
853,1942-1118,Seattle,NaN,NaN,W,19420720,6,227958,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
854,1942-1118,Seattle,NaN,NaN,W,19420720,7,227958,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
result =df0.append(df1)
result.tail()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
850,1942-1118,Seattle,NaN,NaN,W,19420720,3,227958,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
851,1942-1118,Seattle,NaN,NaN,W,19420720,4,235850,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
852,1942-1118,Seattle,NaN,NaN,W,19420720,5,200858,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
853,1942-1118,Seattle,NaN,NaN,W,19420720,6,227958,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
854,1942-1118,Seattle,NaN,NaN,W,19420720,7,227958,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
df1 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_wta/master/wta_matches_1942.csv")
df2 = pd.read_excel("s3://tennis-data-wta-atp/atp/2002.xls")
df3 = pd.read_excel("s3://tennis-data-wta-atp/atp/2003.xls")
df4 = pd.read_excel("s3://tennis-data-wta-atp/atp/2004.xls")
df5 = pd.read_excel("s3://tennis-data-wta-atp/atp/2005.xls")
df6 = pd.read_excel("s3://tennis-data-wta-atp/atp/2006.xls")
df7 = pd.read_excel("s3://tennis-data-wta-atp/atp/2007.xls")
df8 = pd.read_excel("s3://tennis-data-wta-atp/atp/2008.xls")
df9 = pd.read_excel("s3://tennis-data-wta-atp/atp/2009.xls")
df10 = pd.read_excel("s3://tennis-data-wta-atp/atp/2010.xls")
df11 = pd.read_excel("s3://tennis-data-wta-atp/atp/2011.xls")
df12 = pd.read_excel("s3://tennis-data-wta-atp/atp/2012.xls")
#df13 = pd.read_excel("s3://tennis-data-wta-atp/atp/2013.xls")
#df14 = pd.read_excel("s3://tennis-data-wta-atp/atp/2014.xls")
#df15 = pd.read_excel("s3://tennis-data-wta-atp/atp/2015.xls")
#df16 = pd.read_excel("s3://tennis-data-wta-atp/atp/2016.xls")
#df17 = pd.read_excel("s3://tennis-data-wta-atp/atp/2017.xls")
#df18 = pd.read_excel("s3://tennis-data-wta-atp/atp/2018.xls")
#df19 = pd.read_excel("s3://tennis-data-wta-atp/atp/2019.xls")
#df20 = pd.read_excel("s3://tennis-data-wta-atp/atp/2020.xls")
#df21 = pd.read_excel("s3://tennis-data-wta-atp/atp/2021.xls")

In [ ]:
#combine all the data into a dataframe 
result =df0.append(df1)
result =result.append(df2) 
result =result.append(df3) 
result =result.append(df4) 
result =result.append(df5) 
result =result.append(df6) 
result =result.append(df7) 
result =result.append(df8) 
result =result.append(df9) 
result =result.append(df10) 
result =result.append(df11) 
result =result.append(df12)

result.head()

In [ ]:
result.info()

In [29]:
df20 = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_wta/master/wta_matches_2020.csv")
df20.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2020-1049,Auckland,Hard,32,I,20200106,300,200033,1,NaN,...,50.0,31.0,12.0,9.0,12.0,15.0,10.0,3935.0,82.0,743.0
1,2020-1049,Auckland,Hard,32,I,20200106,299,200033,1,NaN,...,22.0,12.0,2.0,7.0,0.0,5.0,10.0,3935.0,25.0,1734.0
2,2020-1049,Auckland,Hard,32,I,20200106,298,202468,NaN,NaN,...,56.0,34.0,9.0,13.0,7.0,13.0,82.0,743.0,39.0,1353.0
3,2020-1049,Auckland,Hard,32,I,20200106,297,200033,1,NaN,...,45.0,26.0,5.0,9.0,1.0,4.0,10.0,3935.0,73.0,805.0
4,2020-1049,Auckland,Hard,32,I,20200106,296,216153,3,NaN,...,62.0,35.0,8.0,13.0,11.0,18.0,25.0,1734.0,262.0,223.0

In [30]:
df20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1276 entries, 0 to 1275
Data columns (total 49 columns):
tourney_id            1276 non-null object
tourney_name          1276 non-null object
surface               1276 non-null object
draw_size             1276 non-null int64
tourney_level         1276 non-null object
tourney_date          1276 non-null int64
match_num             1276 non-null int64
winner_id             1276 non-null int64
winner_seed           499 non-null object
winner_entry          163 non-null object
winner_name           1276 non-null object
winner_hand           1276 non-null object
winner_ht             331 non-null float64
winner_ioc            1276 non-null object
winner_age            1273 non-null float64
loser_id              1276 non-null int64
loser_seed            290 non-null object
loser_entry           230 non-null object
loser_name            1276 non-null object
loser_hand            1276 non-null object
loser_ht              311 non-null float64
loser_ioc             1276 non-null object
loser_age             1274 non-null float64
score                 1276 non-null object
best_of               1276 non-null int64
round                 1276 non-null object
minutes               1275 non-null float64
w_ace                 1274 non-null float64
w_df                  1274 non-null float64
w_svpt                1274 non-null float64
w_1stIn               1274 non-null float64
w_1stWon              1274 non-null float64
w_2ndWon              1274 non-null float64
w_SvGms               1275 non-null float64
w_bpSaved             1274 non-null float64
w_bpFaced             1274 non-null float64
l_ace                 1274 non-null float64
l_df                  1274 non-null float64
l_svpt                1274 non-null float64
l_1stIn               1274 non-null float64
l_1stWon              1274 non-null float64
l_2ndWon              1274 non-null float64
l_SvGms               1275 non-null float64
l_bpSaved             1274 non-null float64
l_bpFaced             1274 non-null float64
winner_rank           1247 non-null float64
winner_rank_points    1247 non-null float64
loser_rank            1219 non-null float64
loser_rank_points     1219 non-null float64
dtypes: float64(27), int64(6), object(16)
memory usage: 488.5+ KB

We have numerical and categorical attributes.

In [32]:
#Percentage of missing values
(df20.isna().sum() / len(df20))*100

tourney_id             0.000000
tourney_name           0.000000
surface                0.000000
draw_size              0.000000
tourney_level          0.000000
tourney_date           0.000000
match_num              0.000000
winner_id              0.000000
winner_seed           60.893417
winner_entry          87.225705
winner_name            0.000000
winner_hand            0.000000
winner_ht             74.059561
winner_ioc             0.000000
winner_age             0.235110
loser_id               0.000000
loser_seed            77.272727
loser_entry           81.974922
loser_name             0.000000
loser_hand             0.000000
loser_ht              75.626959
loser_ioc              0.000000
loser_age              0.156740
score                  0.000000
best_of                0.000000
round                  0.000000
minutes                0.078370
w_ace                  0.156740
w_df                   0.156740
w_svpt                 0.156740
w_1stIn                0.156740
w_1stWon               0.156740
w_2ndWon               0.156740
w_SvGms                0.078370
w_bpSaved              0.156740
w_bpFaced              0.156740
l_ace                  0.156740
l_df                   0.156740
l_svpt                 0.156740
l_1stIn                0.156740
l_1stWon               0.156740
l_2ndWon               0.156740
l_SvGms                0.078370
l_bpSaved              0.156740
l_bpFaced              0.156740
winner_rank            2.272727
winner_rank_points     2.272727
loser_rank             4.467085
loser_rank_points      4.467085
dtype: float64

In [ ]:
We will drop rows with missing values and columns with more than 50% of missing values.

In [35]:
df20.apply(lambda x: x.count(), axis=1)

0       45
1       46
2       45
3       45
4       45
5       47
6       44
7       46
8       43
9       44
10      45
11      46
12      45
13      43
14      46
15      47
16      45
17      43
18      44
19      44
20      44
21      45
22      44
23      46
24      46
25      44
26      46
27      44
28      44
29      45
        ..
1246    43
1247    43
1248    43
1249    44
1250    44
1251    44
1252    44
1253    44
1254    43
1255    45
1256    44
1257    44
1258    43
1259    44
1260    43
1261    43
1262    43
1263    43
1264    43
1265    43
1266    43
1267    43
1268    43
1269    43
1270    43
1271    43
1272    43
1273    44
1274    43
1275    44
Length: 1276, dtype: int64