In [34]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [40]:
path = "https://raw.githubusercontent.com/DSEI21000-S21/project-tennis-ml/main/atp_matches/atp_matches-2000-2021_expanded.csv"

def readData(path):
    df = pd.read_csv(path)
    return df

def dropGibberishRows(dataframe, column_name, filter_variable):
    index_list = list(dataframe[dataframe[column_name] == filter_variable].index)
    dataframe = dataframe.drop(index_list)
    return dataframe

def encodeColumn(dataframe, column_list = []):
    df = pd.get_dummies(dataframe, columns= column_list)
    return df

def convertDate(dataframe, date):
    dataframe[date] = pd.to_datetime(dataframe[date], format = '%Y%m%d', errors='coerce')
    return dataframe

def addDateFeatures(dataframe, date):
    dataframe['year'] = dataframe[date].dt.year
    dataframe['month'] = dataframe[date].dt.month
    dataframe['day'] = dataframe[date].dt.day
    return dataframe

def appendTarget(dataframe, winner, loser):
    dataframe[winner] = 1
    dataframe[loser] = 0
    return dataframe

def getMissingDataPercentage(dataframe):
    percent_missing = dataframe.isnull().sum() * 100 / len(dataframe)
    missing_value_df = pd.DataFrame({'column_name': dataframe.columns,
                                 'percent_missing': percent_missing})
    pd.set_option("max_rows", None)
    return missing_value_df

def formatColumns(dataframe):
    columns = list(dataframe.columns)
    renamed_columns = [i.lower().strip().replace(' ', "_").replace(':','') for i in columns]
    renamed_columns_dict = {columns[i]: renamed_columns[i] for i in range(len(columns))}
    dataframe = dataframe.rename(columns = renamed_columns_dict)
    return dataframe

def convertColumnsToNumeric(dataframe, columns = []):
    dataframe[columns] = dataframe[columns].apply(pd.to_numeric, errors ='coerce')
    return dataframe 

def fillMissingDataMode(dataframe, cols):
    dataframe[cols]= dataframe[cols].fillna(dataframe[cols].mode().iloc[0])
    return dataframe

def dropColumn(dataframe, column_list = []):
    return dataframe.drop(column_list, axis =1)

def fillMissingDataMean(dataframe, cols):
    dataframe[cols]= dataframe[cols].fillna(dataframe[cols].mean().iloc[0])
    return dataframe

def fillMissingData999(dataframe, cols):
    dataframe[cols]= dataframe[cols].fillna(999)
    return dataframe

In [41]:
atp_data = readData(path)
atp_data = dropColumn(atp_data, ['player_entry'])
atp_data = fillMissingDataMode(atp_data, ['surface', 'player_hand'])
atp_data = fillMissingDataMean(atp_data, ['player_height', 'player_age', 'minutes', 'ace', 'double_fault', 'service_points_won', 'first_serve_made', 'first_serve_won', 
'second_serve_won', 'serve_game', 'break_point_saved', 'break_point_faced', 'player_rank','player_rank_points'])
atp_data = fillMissingData999(atp_data, ['player_seed'])
atp_data = convertDate(atp_data, 'tourney_date')
atp_data = addDateFeatures(atp_data, 'tourney_date')
atp_data = dropColumn(atp_data, ['player_ioc', 'score', 'tourney_id', 'tourney_date', 'player_name'])

In [39]:
#pd.set_option("display.max_columns", 35)
#atp_data.head()
#atp_data.shape
## = 
#mask = ((atp_data['year']== 2020) & (atp_data['tourney_name'].str.contains("Roland")))
#atp_data['french_open_2020'] = np.where(mask, 1, 0)
#atp_data.head()
#atp_data[mask]

In [43]:
atp_data = readData(path)
atp_data = convertDate(atp_data, 'tourney_date')
atp_data = addDateFeatures(atp_data, 'tourney_date')
mask = ((atp_data['year']== 2020) & (atp_data['tourney_name'].str.contains("Roland")))
atp_data['french_open_2020'] = np.where(mask, 1, 0)
atp_data = dropColumn(atp_data, ['player_entry', 'tourney_name'])
atp_data = fillMissingDataMode(atp_data, ['surface', 'player_hand'])
atp_data = fillMissingDataMean(atp_data, ['player_height', 'player_age', 'minutes', 'ace', 'double_fault', 'service_points_won', 'first_serve_made', 'first_serve_won', 
'second_serve_won', 'serve_game', 'break_point_saved', 'break_point_faced', 'player_rank','player_rank_points'])
atp_data = fillMissingData999(atp_data, ['player_seed'])
atp_data = dropColumn(atp_data, ['player_ioc', 'score', 'tourney_id', 'tourney_date', 'player_name'])
atp_data = encodeColumn(atp_data, ['surface', 'tourney_level', 'player_hand','round'])
atp_data = formatColumns(atp_data)

In [44]:
getMissingDataPercentage(atp_data).head(5)

                 column_name  percent_missing
draw_size          draw_size              0.0
match_num          match_num              0.0
player_id          player_id              0.0
player_seed      player_seed              0.0
player_height  player_height              0.0

In [45]:
atp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128070 entries, 0 to 128069
Data columns (total 46 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   draw_size           128070 non-null  int64
 1   match_num           128070 non-null  int64
 2   player_id           128070 non-null  int64
 3   player_seed         128070 non-null  float64
 4   player_height       128070 non-null  float64
 5   player_age          128070 non-null  float64
 6   best_of             128070 non-null  int64
 7   minutes             128070 non-null  float64
 8   ace                 128070 non-null  float64
 9   double_fault        128070 non-null  float64
 10  service_points_won  128070 non-null  float64
 11  first_serve_made    128070 non-null  float64
 12  first_serve_won     128070 non-null  float64
 13  second_serve_won    128070 non-null  float64
 14  serve_game          128070 non-null  float64
 15  break_point_saved   128070 non-null  float64
 16  break_point_faced   128070 non-null  float64
 17  player_rank         128070 non-null  float64
 18  player_rank_points  128070 non-null  float64
 19  target              128070 non-null  int64
 20  year                128070 non-null  int64
 21  month               128070 non-null  int64
 22  day                 128070 non-null  int64
 23  french_open_2020    128070 non-null  int64
 24  surface_carpet      128070 non-null  uint8
 25  surface_clay        128070 non-null  uint8
 26  surface_grass       128070 non-null  uint8
 27  surface_hard        128070 non-null  uint8
 28  tourney_level_a     128070 non-null  uint8
 29  tourney_level_d     128070 non-null  uint8
 30  tourney_level_f     128070 non-null  uint8
 31  tourney_level_g     128070 non-null  uint8
 32  tourney_level_m     128070 non-null  uint8
 33  player_hand_l       128070 non-null  uint8
 34  player_hand_r       128070 non-null  uint8
 35  player_hand_u       128070 non-null  uint8
 36  round_br            128070 non-null  uint8
 37  round_er            128070 non-null  uint8
 38  round_f             128070 non-null  uint8
 39  round_qf            128070 non-null  uint8
 40  round_r128          128070 non-null  uint8
 41  round_r16           128070 non-null  uint8
 42  round_r32           128070 non-null  uint8
 43  round_r64           128070 non-null  uint8
 44  round_rr            128070 non-null  uint8
 45  round_sf            128070 non-null  uint8
dtypes: float64(15), int64(9), uint8(22)
memory usage: 26.1 MB

In [46]:
atp_data.describe()

,draw_size,match_num,player_id,player_seed,player_height,player_age,best_of,minutes,ace,double_fault,service_points_won,first_serve_made,first_serve_won,second_serve_won,serve_game,break_point_saved,break_point_faced,...,tourney_level_d,tourney_level_f,tourney_level_g,tourney_level_m,player_hand_l,player_hand_r,player_hand_u,round_br,round_er,round_f,round_qf,round_r128,round_r16,round_r32,round_r64,round_rr,round_sf
count,128070.000000,128070.000000,128070.000000,128070.000000,128070.000000,128070.000000,128070.000000,128070.000000,128070.000000,128070.000000,128070.000000,128070.000000,128070.000000,128070.000000,128070.000000,128070.000000,128070.000000,...,128070.000000,128070.000000,128070.000000,128070.000000,128070.000000,128070.000000,128070.00000,128070.000000,128070.000000,128070.000000,128070.000000,128070.000000,128070.000000,128070.000000,128070.000000,128070.000000,128070.000000
mean,54.295932,78.659202,105708.957445,681.098228,185.490424,26.353030,3.464777,114.749293,22.810784,20.109738,89.260687,60.858578,48.316273,31.738285,28.596136,21.105888,23.566847,...,0.096338,0.005169,0.166596,0.183119,0.126017,0.861513,0.01247,0.000094,0.000500,0.022066,0.085141,0.102444,0.169407,0.316186,0.152120,0.108722,0.043320
std,39.472986,124.849842,10142.957321,462.642477,6.454959,4.591264,0.844714,46.330934,52.540061,53.216963,41.611219,43.977679,46.094129,49.897418,50.598304,52.936055,52.228111,...,0.295055,0.071710,0.372617,0.386765,0.331870,0.345412,0.11097,0.009679,0.022349,0.146899,0.279092,0.303232,0.375113,0.464988,0.359139,0.311291,0.203577
min,4.000000,1.000000,100644.000000,1.000000,163.000000,14.513347,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32.000000,10.000000,103344.000000,11.000000,183.000000,23.411362,3.000000,79.000000,2.000000,1.000000,59.000000,35.000000,25.000000,11.000000,10.000000,2.000000,4.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,32.000000,25.000000,104214.000000,999.000000,185.000000,26.195756,3.000000,105.000000,5.000000,3.000000,78.000000,47.000000,34.000000,16.000000,12.000000,4.000000,7.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,64.000000,87.000000,105023.000000,999.000000,188.000000,29.051335,3.000000,144.000000,10.000000,5.000000,104.000000,64.000000,46.000000,22.000000,16.000000,7.000000,11.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,128.000000,1701.000000,210013.000000,999.000000,208.000000,185.490424,5.000000,1266.000000,185.490424,185.490424,491.000000,361.000000,292.000000,185.490424,185.490424,185.490424,185.490424,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [47]:
atp_data.to_pickle("./atp_cleaned_data.pkl")

In [48]:
atp_data = pd.read_pickle("./atp_cleaned_data.pkl")
atp_data.head()

,draw_size,match_num,player_id,player_seed,player_height,player_age,best_of,minutes,ace,double_fault,service_points_won,first_serve_made,first_serve_won,second_serve_won,serve_game,break_point_saved,break_point_faced,...,tourney_level_d,tourney_level_f,tourney_level_g,tourney_level_m,player_hand_l,player_hand_r,player_hand_u,round_br,round_er,round_f,round_qf,round_r128,round_r16,round_r32,round_r64,round_rr,round_sf
0,32,1,103163,1.0,188.0,21.771389,3,108.0,18.0,4.0,96.0,49.0,39.0,28.0,17.0,3.0,5.0,...,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
1,32,2,102607,999.0,190.0,24.558522,3,85.0,5.0,3.0,76.0,52.0,39.0,13.0,12.0,5.0,6.0,...,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
2,32,3,103252,999.0,175.0,21.390828,3,56.0,0.0,0.0,55.0,35.0,25.0,12.0,8.0,1.0,1.0,...,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
3,32,4,103507,7.0,183.0,19.909651,3,68.0,5.0,1.0,53.0,28.0,26.0,15.0,10.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
4,32,5,102103,999.0,180.0,27.381246,3,115.0,1.0,2.0,98.0,66.0,39.0,14.0,13.0,6.0,11.0,...,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0

In [49]:
atp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128070 entries, 0 to 128069
Data columns (total 46 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   draw_size           128070 non-null  int64
 1   match_num           128070 non-null  int64
 2   player_id           128070 non-null  int64
 3   player_seed         128070 non-null  float64
 4   player_height       128070 non-null  float64
 5   player_age          128070 non-null  float64
 6   best_of             128070 non-null  int64
 7   minutes             128070 non-null  float64
 8   ace                 128070 non-null  float64
 9   double_fault        128070 non-null  float64
 10  service_points_won  128070 non-null  float64
 11  first_serve_made    128070 non-null  float64
 12  first_serve_won     128070 non-null  float64
 13  second_serve_won    128070 non-null  float64
 14  serve_game          128070 non-null  float64
 15  break_point_saved   128070 non-null  float64
 16  break_point_faced   128070 non-null  float64
 17  player_rank         128070 non-null  float64
 18  player_rank_points  128070 non-null  float64
 19  target              128070 non-null  int64
 20  year                128070 non-null  int64
 21  month               128070 non-null  int64
 22  day                 128070 non-null  int64
 23  french_open_2020    128070 non-null  int64
 24  surface_carpet      128070 non-null  uint8
 25  surface_clay        128070 non-null  uint8
 26  surface_grass       128070 non-null  uint8
 27  surface_hard        128070 non-null  uint8
 28  tourney_level_a     128070 non-null  uint8
 29  tourney_level_d     128070 non-null  uint8
 30  tourney_level_f     128070 non-null  uint8
 31  tourney_level_g     128070 non-null  uint8
 32  tourney_level_m     128070 non-null  uint8
 33  player_hand_l       128070 non-null  uint8
 34  player_hand_r       128070 non-null  uint8
 35  player_hand_u       128070 non-null  uint8
 36  round_br            128070 non-null  uint8
 37  round_er            128070 non-null  uint8
 38  round_f             128070 non-null  uint8
 39  round_qf            128070 non-null  uint8
 40  round_r128          128070 non-null  uint8
 41  round_r16           128070 non-null  uint8
 42  round_r32           128070 non-null  uint8
 43  round_r64           128070 non-null  uint8
 44  round_rr            128070 non-null  uint8
 45  round_sf            128070 non-null  uint8
dtypes: float64(15), int64(9), uint8(22)
memory usage: 26.1 MB